div.title-area {
    /* background-color: darksalmon; */
    padding: 1em 0;
    margin-bottom: 20px;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
}


div.title-area h5 {
    margin: 0;
    font-size: 20px;
}