
.main-contents{
    background-color: darkblue;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src//assets/pawel-unsplash.jpg");
    height: 100vh;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  
  .hero-text {
    text-align: center;
    /* background-color: chartreuse; */
    margin-top: 100px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: #ffffff;
    height: fit-content;
  
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  
  .img-zone {
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .img-zone img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit:cover;
  }
  
  .container-title-presentation {
    /* background-color: blue; */
    padding: 25px 0;
  
  }
  .hero-text .container-title-presentation h1 {
    /* margin: 0; */
    font-size: 24px;
  }
  
  .hero-text .container-title-presentation h2 {
    font-size: 22px;
    margin: 0;

  }
  
  .contents-body {
    background-color: rgba(64, 48, 78, 0.821);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
    width: 70%;
    padding: 20px ;
    margin-bottom: 25px;
    text-align: justify;
    border-radius: 10px;
    color: rgb(198, 190, 215);
    margin: 0 auto;
    font-size: 20px;
  }

  .contents-body h5 {
    margin: 10px 0;
    text-align: center;
  }

  .contents-body p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }


  button {
    border-radius: 10px;
    margin: 20px;
    font-size: 16px;
    background-color: white;
    font-weight: 700;
  }
  
  ul.medias-links {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  ul.medias-links li {
    margin: 10px 12px ;
  }
  ul.medias-links li i.fa-brands {
    color: rgb(255, 255, 255)
  }