header,ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header {
    position:fixed;
    z-index: 9999;
    top: 0px;
    width: 100%;
    padding-top: 15px; 
}


header  ul {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: rgb(247, 247, 247);
    padding: 0 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

} 
header  ul:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

header ul li {
    padding: 20px 10px;
    position: relative;

}

header  ul li:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -46.88px;
    transform: rotate(180deg);
    width: 48px;
    height: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 0 50% 50% 0;
}

header  ul li:last-child::after {
    content: "";
    position: absolute;
    top: 0;
    right: -46.88px;
    width: 48px;
    height: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 0 50% 50% 0;
}

header ul li a  {
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 600;
}
